autom4te.cache
configure~
config.h
config.h.in~
config.log
Makefile
Makefile.in
aclocal.m4
ar-lib
compile
config.guess
config.status
config.sub
configure.scan
depcomp
install-sh
libtool
src/Makefile
src/Makefile.in
src/syscall_intercept
src/.libs
src/.deps
src/calls.h
src/libsyscall_interceptor*
src/syscall.h
src/unistd_64.h